*.as
*.autosave
*.b#*
*.bck
*.cmf
*.cof
*.dxf~
*.elf
*.exe
*.hex
*.hxl
*.job
*.kicad_prl
*.l#*
*.lck
*.lpp
*.lst
*.obj
*.p1
*.pre
*.pro.user
*.pro.user.*
*.rlf
*.s#*
*.sdb
*.sym
*-bak
_autosave-*
build-Cyclope-*
fp-info-cache
Hardware/*.xml
Hardware/Cyclope-backups/
Hardware/Production_Files/
